nav{
    position: fixed;
    width: 100%;
    z-index: 2;
  }

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

nav ul li {
    list-style: none;
    width: 20%;
}

nav ul li a {
    display: block;
    padding: 15px 15px;
    color:white;
    text-decoration: none;
    text-align:center;
    transition: .3s linear;
    background-color: rgb(0,0,0,0.8);
    font-size: 12px;
}

nav ul li a:hover {
letter-spacing: 2px;
}



@media (min-width: 640px){
    nav ul li a {
        padding: 20px;
        font-size: 14px;
        letter-spacing: 1px;
    }

    nav ul li a:hover {
        letter-spacing: 4px;
    }
}

/*//////////////////////////////////////////////////////////*/

@media (min-width: 1024px){
    nav ul li a {
        font-size: 17px;
        letter-spacing: 2px;
    }

    nav ul li a:hover {
        letter-spacing: 6px;
    }
}

/*//////////////////////////////////////////////////////////*/

@media (min-width: 1300px){
    nav ul li a {
        font-size: 20px;
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    nav ul li a:hover {
        letter-spacing: 11px;
    }
}